@model School
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSchoolNew.cshtml";
    string lat = Model.Latitude == null ? "null" : "lat";
    string lang = Context.Request.Cookies["lang"];
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">MAKTAB PROFILI</h4>
            </div>
            <div class="card-body">
                <form method="post">

                    <div class="row mb-3">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating">HUDUD</label>
                                <select class="custom-select" name="RegionId" id="Regions" disabled>
                                    <option selected value="@Model.RegionId">@Model.Region.name_uz</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating">TUMAN</label>
                                <select class="custom-select" name="DistrictId" id="Districts" disabled>
                                    <option selected value="@Model.DistrictId">@Model.District.name_uz</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating">MAKTAB TURI</label>
                                <select class="custom-select" name="TypeId" id="SchoolTypes" disabled>
                                    <option selected value="@Model.TypeId">@Model.SchoolType.NameUz</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">NOMI (O'ZBEKCHA LOTIN)</label>
                                <input type="hidden" class="form-control" name="NameUz" value="@Model.NameUz" >
                                <input type="text" class="form-control" value="@Model.NameUz" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">NOMI (O'ZBEKCHA KIRIL)</label>
                                <input type="hidden" class="form-control" name="NameUzk" value="@Model.NameUzk" >
                                <input type="text" class="form-control"  value="@Model.NameUzk" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">NOMI (RUSCHA)</label>
                                <input type="hidden" class="form-control" name="NameRu" value="@Model.NameRu" >
                                <input type="text" class="form-control"  value="@Model.NameRu" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">NOMI (INGLIZCHA)</label>
                                <input type="hidden" class="form-control" name="NameEn" value="@Model.NameEn" >
                                <input type="text" class="form-control"  value="@Model.NameEn" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">MAKTAB RAQAMI</label>
                                <input type="hidden" class="form-control" name="Number" value="@Model.Number">
                                <input type="text" class="form-control" value="@Model.Number" readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">MAKTAB QURILGAN YIL</label>
                                <input type="number" class="form-control" name="BuildedYear" value="@Model.BuildedYear" min="1900" max="@DateTime.Now.Year">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">DIREKTOR</label>
                                <input type="text" class="form-control" name="Director" value="@Model.Director">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="tel" class="form-control" name="Phone" id="phone" placeholder="TELEFON RAQAMI" value="@Model.Phone">
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        @*<div class="col-12">
                            <div id="mapholder" style="width: 100%; height: 400px">

                            </div>
                        </div>*@
                        <div class="col-12">
                            <div class="form-group">
                                <input type="text" class="form-control" name="Address" placeholder="Manzil" id="address" value="@Model.Address" />
                            </div>
                        </div>

                        <input type="hidden" class="form-control" name="DistrictId" value="@Model.DistrictId" />
                        <input type="hidden" class="form-control" name="RegionId" value="@Model.RegionId" />
                        <input type="hidden" class="form-control" name="TypeId" value="@Model.TypeId" />
                        <input type="hidden" class="form-control" name="Latitude" id="Latitude" value="@Model.Latitude" />
                        <input type="hidden" class="form-control" name="Longtitude" id="Longtitude" value="@Model.Longtitude" />
                        <input type="hidden" class="form-control" name="Id" id="Id" value="@Model.Id" />

                    </div>
                    <button type="submit" class="btn btn-primary ">Saqlash</button>
                    <button type="button" class="btn btn-secondary " onclick="window.location.href='/SchoolProfile/Profile/'">Ortga</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>

    $(function () {
        $("#phone").inputmask({ "mask": "+\\9\\98(99) 999-9999" });
    })

    $(document).ready(function () {

        @*var r = $('#Latitude').val();
        if (r == "") {
            navigator.geolocation.getCurrentPosition(showPosition);
            function showPosition(position) {

                var myPlacemark;

                ymaps.ready(init);
                function init() {

                    var myMap = new ymaps.Map("mapholder", {
                        center: [position.coords.latitude, position.coords.longitude],
                        zoom: 17,
                        controls: ['zoomControl']
                    }, { suppressMapOpenBlock: true }), firstButton = new ymaps.control.Button("Я");;

                    myMap.controls.add(firstButton, { float: 'right' });

                    firstButton.events.add('click', function (e) {
                        document.getElementById("mapholder").value = [position.coords.latitude, position.coords.longitude];
                        myPlacemark.geometry.setCoordinates([position.coords.latitude, position.coords.longitude]);
                        getAddress([position.coords.latitude, position.coords.longitude]);
                        myMap.setCenter([position.coords.latitude, position.coords.longitude], 15);
                        document.getElementById("Latitude").value = position.coords.latitude;
                        document.getElementById("Longtitude").value = position.coords.longitude;
                    });

                    myPlacemark = createPlacemark([position.coords.latitude, position.coords.longitude]);
                    myMap.geoObjects.add(myPlacemark);
                    myPlacemark.events.add('dragend', function () {
                        getAddress(myPlacemark.geometry.getCoordinates());
                    });
                    getAddress([position.coords.latitude, position.coords.longitude]);

                    myMap.events.add('click', function (e) {
                        var coords = e.get('coords');
                        document.getElementById("mapholder").value = coords;
                        myPlacemark.geometry.setCoordinates(coords);
                        getAddress(coords);
                        document.getElementById("Latitude").value = coords[0];
                        document.getElementById("Longtitude").value = coords[1];
                    });

                    function createPlacemark(coords) {
                        return new ymaps.Placemark(coords, {
                            iconCaption: 'поиск...'


                        }, {
                            preset: 'islands#blueDotIconWithCaption',
                            draggable: true
                        });
                    }

                    function getAddress(coords) {
                        myPlacemark.properties.set('iconCaption', 'поиск...');
                        ymaps.geocode(coords).then(function (res) {
                            var firstGeoObject = res.geoObjects.get(0);

                            myPlacemark.properties
                                .set({
                                    iconCaption: [
                                        firstGeoObject.getLocalities().length ? firstGeoObject.getLocalities() : firstGeoObject.getAdministrativeAreas(),
                                        firstGeoObject.getThoroughfare() || firstGeoObject.getPremise()
                                    ].filter(Boolean).join(', '),
                                    balloonContent: firstGeoObject.getAddressLine()
                                });
                            document.getElementById("address").value = firstGeoObject.getAddressLine();
                        });
                    }
                }

                document.getElementById("Latitude").value = position.coords.latitude;
                document.getElementById("Longtitude").value = position.coords.longitude;
            }
        }
        if (r != "") {
            ymaps.ready(init);

            function init() {
                var myMap = new ymaps.Map("mapholder", {
                    center: [@Model.Latitude, @Model.Longtitude],
                    zoom: 17,
                },
                {
                    suppressMapOpenBlock: true
                },
                {
                    searchControlProvider: 'yandex#search'
                });

                myPlacemark = createPlacemark([@Model.Latitude, @Model.Longtitude]);
                myMap.geoObjects.add(myPlacemark);
                myPlacemark.events.add('dragend', function () {
                    getAddress(myPlacemark.geometry.getCoordinates());
                });
                getAddress([@Model.Latitude, @Model.Longtitude]);

                myMap.events.add('click', function (e) {
                    var coords = e.get('coords');
                    document.getElementById("mapholder").value = coords;
                    myPlacemark.geometry.setCoordinates(coords);
                    getAddress(coords);
                    document.getElementById("Latitude").value = coords[0];
                    document.getElementById("Longtitude").value = coords[1];
                });

                function createPlacemark(coords) {
                    return new ymaps.Placemark(coords, {
                        iconCaption: 'поиск...'


                    }, {
                        preset: 'islands#blueDotIconWithCaption',
                        draggable: true
                    });
                }

                function getAddress(coords) {
                    myPlacemark.properties.set('iconCaption', 'поиск...');
                    ymaps.geocode(coords).then(function (res) {
                        var firstGeoObject = res.geoObjects.get(0);

                        myPlacemark.properties
                            .set({
                                iconCaption: [
                                    firstGeoObject.getLocalities().length ? firstGeoObject.getLocalities() : firstGeoObject.getAdministrativeAreas(),
                                    firstGeoObject.getThoroughfare() || firstGeoObject.getPremise()
                                ].filter(Boolean).join(', '),
                                balloonContent: firstGeoObject.getAddressLine()
                            });
                        document.getElementById("address").value = firstGeoObject.getAddressLine();
                        document.getElementById("Latitude").value = coords[0];
                        document.getElementById("Longtitude").value = coords[1];
                    });
                }
            }
        }*@
    });
</script>

