@model School
@{
    ViewData["Title"] = "MainInfo";
    Layout = "~/Views/Shared/_LayoutSchool.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Umumiy ma'lumotlar</h4>
            </div>
            <div class="card-body">

                <div class="row mb-3">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">HUDUD</label>
                            <select class="custom-select" name="RegionId" id="Regions" disabled>
                                <option>@Model.Region.name_uz</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">TUMAN</label>
                            <select class="custom-select" name="DistrictId" id="Districts" value="@Model.DistrictId" disabled>
                                <option>@Model.District.name_uz</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">MAKTAB TURI</label>
                            <select class="custom-select" name="TypeId" id="SchoolTypes" value="@Model.TypeId" disabled>
                                <option>@Model.SchoolType.NameUz</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="bmd-label-floating">NOMI (O'ZBEKCHA LOTIN)</label>
                            <input type="text" class="form-control" name="NameUz" value="@Model.NameUz" readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="bmd-label-floating">NOMI (O'ZBEKCHA KIRIL)</label>
                            <input type="text" class="form-control" name="NameUzk" value="@Model.NameUzk" readonly>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="bmd-label-floating">NOMI (RUSCHA)</label>
                            <input type="text" class="form-control" name="NameRu" value="@Model.NameRu" readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="bmd-label-floating">NOMI (INGLIZCHA)</label>
                            <input type="text" class="form-control" name="NameEn" value="@Model.NameEn" readonly>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="bmd-label-floating">MAKTAB RAQAMI</label>
                            <input type="number" class="form-control" name="Number" value="@Model.Number" readonly>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="bmd-label-floating">Umumta’lim muassasasi binosi qurilgan yili</label>
                            <input type="number" class="form-control" name="BuildedYear" value="@Model.BuildedYear" readonly>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="bmd-label-floating">DIREKTOR</label>
                            <input type="text" class="form-control" name="Director" value="@Model.Director" readonly>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <input type="tel" class="form-control" name="Phone" id="phone" placeholder="TELEFON RAQAMI" value="@Model.Phone" readonly>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="bmd-label-floating">Manzil</label>
                            <input type="text" class="form-control" name="Address" id="address" value="@Model.Address" readonly />
                        </div>
                    </div>

                    <input type="hidden" class="form-control" name="Latitude" id="Latitude" value="@Model.Latitude" />
                    <input type="hidden" class="form-control" name="Longtitude" id="Longtitude" value="@Model.Longtitude" />

                </div>

                <div class="row mb-3">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">Oxirgi to‘liq ta’mirlangan yil</label>
                            <input type="number" class="form-control" name="rebuilding_year" value="@Model.SchoolInfo?.rebuilding_year" readonly>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">Maktab sig‘imi (quvvati)</label>
                            <input type="number" class="form-control" name="max_pupil_count" value="@Model.SchoolInfo?.max_pupil_count" readonly>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">O‘quvchilar soni</label>
                            <input type="number" class="form-control" name="pupils_count" value="@Model.SchoolInfo?.pupils_count" readonly>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">Ajratilgan umumiy shtat soni</label>
                            <input type="number" class="form-control" name="max_teachers_count" value="@Model.SchoolInfo?.max_teachers_count" readonly >
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">Jami o‘qituvchilar soni</label>
                            <input type="number" class="form-control" name="teachers_count" value="@Model.SchoolInfo?.teachers_count" readonly >
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">Mikrohududda yashovchi 7-18 yoshli aholi soni</label>
                            <input type="number" class="form-control" name="microdistrict_pupils_count" value="@Model.SchoolInfo?.microdistrict_pupils_count" readonly >
                        </div>
                    </div>
                </div>

                <p style="text-align:right">Oxirgi o'zgartirilgan sana: <mark> @Model.SchoolInfo?.update_date </mark> </p>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Ma'lumotlarni yangilash
                </button>
                <button type="button" class="btn btn-secondary " onclick="window.location.href='/SchoolProfile/Info/'">Ortga</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<form id="form1" method="post">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ma'lumotlarni yangilash</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label class="bmd-label-floating">Oxirgi to‘liq ta’mirlangan yil</label>
                            <input type="number" class="form-control" name="rebuilding_year" value="@Model.SchoolInfo?.rebuilding_year" min="@Model.BuildedYear" max="@DateTime.Now.Year" required>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label class="bmd-label-floating">Maktab sig‘imi (quvvati)</label>
                            <input type="number" class="form-control" name="max_pupil_count" value="@Model.SchoolInfo?.max_pupil_count" required>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label class="bmd-label-floating">O‘quvchilar soni</label>
                            <input type="number" class="form-control" name="pupils_count" value="@Model.SchoolInfo?.pupils_count" required>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label class="bmd-label-floating">Ajratilgan umumiy shtat soni</label>
                            <input type="number" class="form-control" name="max_teachers_count" value="@Model.SchoolInfo?.max_teachers_count" required>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label class="bmd-label-floating">Jami o‘qituvchilar soni</label>
                            <input type="number" class="form-control" name="teachers_count" value="@Model.SchoolInfo?.teachers_count" required>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label class="bmd-label-floating">Mikrohududda yashovchi 7-18 yoshli aholi soni</label>
                            <input type="number" class="form-control" name="microdistrict_pupils_count" value="@Model.SchoolInfo?.microdistrict_pupils_count" required>
                        </div>
                    </div>
                </div>

                <input type="hidden" class="form-control" name="school_id" value="@Model.Id" />
                <input type="hidden" class="form-control" name="id" value="@Model.SchoolInfo?.id" />
                <input type="hidden" class="form-control" name="year" value="@Model.SchoolInfo?.year" />

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Ortga</button>
                    <button type="submit" class="btn btn-primary">Saqlash</button>
                </div>
            </div>
        </div>
    </div>
</form>