@model PageData
@{
    ViewData["Title"] = "ManageStrategyInfo";
    Layout = "~/Views/Shared/_LayoutSchool.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">@Model.SchoolMenus?.FirstOrDefault().Menu?.menu_name_uz</h4>
            </div>
            <div class="card-body">

                @foreach (var item in Model.SchoolMenus.GroupBy(x => x.Criteria.IndexId))
                {
                    <div class="mt-4 mb-2">

                        <h4><b>@item.FirstOrDefault().Criteria.Index.NameUz</b></h4>

                        @foreach (var item2 in item)
                        {
                            <div class="row">
                                <div class="col-12">
                                    @foreach (var cr in Model.Criterias.Where(x => x.Id == item2.criteria_id))
                                    {
                                        if (cr.Type != "number")
                                        {

                                            <div class="form-check mt-3 criterias indexCriterias_@cr.IndexId" id="">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="@cr.Type" name="criteriaIndexId_@cr.IndexId" criteriaId="@cr.Id" qw="@cr.MaxBall" id="criteriaId_@cr.Id" value="@cr.Id" onclick="clickRadio(@cr.Id, @cr.IndexId, @cr.MaxBall.ToString().Replace(',','.'))" />
                                                    @cr.NameUz
                                                    <span class="@(cr.Type=="checkbox"?"form-check-sign":"circle")">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-group mt-3 criterias indexCriterias_@cr.IndexId">
                                                <label for="criteriaId_@cr.Id">@cr.NameUz</label>
                                                <input type="@cr.Type" class="form-control" id="criteriaId_@cr.Id" criteriaId="@cr.Id" qw="@cr.MaxBall" name="criteriaIndexId_@cr.IndexId" min="0" style="width:200px;">
                                            </div>
                                        }
                                    }
                                    @*<div class="footer text-right" style="text-align:right!important">
                                            <input type="button" class="btn btn-success mt-3" value="SAQLASH" onclick="SaveData(@item.Id)" />
                                            <input type="button" class="btn btn-danger mt-3" value="BEKOR QILISH" onclick="Reset(@item.Id)" />
                                        </div>*@
                                </div>
                            </div>
                        }
                    </div>
                }

                @*<p>Umumta’lim muassasasini boshqarish strategiyasi</p>
                    @foreach (var item in Model.Criterias.Where(x=>x.IndexId == 98))
                    {
                        <div class="form-check mt-1">
                            <label class="form-check-label">
                                @try
                                {
                                    <input class="form-check-input" type="checkbox" @(Model.Rates.FirstOrDefault(x => x.CriteriaId == item.Id).ValueSchool == item.Id ? "checked" : "") disabled />
                                }
                                catch
                                {
                                    <input class="form-check-input" type="checkbox" disabled />
                                }
                                @item.NameUz
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                    }


                    <p style="text-align:right">Oxirgi o'zgartirilgan sana: <mark> @Model.Rates.FirstOrDefault().UpdateDateSchool </mark> </p>*@

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Ma'lumotlarni yangilash
                </button>
                <button type="button" class="btn btn-secondary " onclick="window.location.href='/SchoolProfile/Info/'">Ortga</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

