
@{
    ViewData["Title"] = "CreateIndex";
    Layout = "~/Views/Shared/_LayoutAdminNew.cshtml";
    string lang = Context.Request.Cookies["lang"];
}

<div class="row mb-5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">@Localization.GetTranslate("index", lang).ToUpper() (@Localization.GetTranslate("add", lang).ToUpper())</h4>
            </div>
            <div class="card-body">
                <form method="post">

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">@Localization.GetTranslate("upper_index", lang).ToUpper()</label>
                                <select class="custom-select" name="ParentId" id="Indexes" required>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">@Localization.GetTranslate("short_name", lang).ToUpper()</label>
                                <input type="text" class="form-control" name="ShortName" required>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">@Localization.GetTranslate("name_uz", lang).ToUpper()</label>
                                <textarea class="form-control" name="NameUz" rows="2" required></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">@Localization.GetTranslate("name_uzk", lang).ToUpper()</label>
                                <textarea class="form-control" name="NameUzk" rows="2" required></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">@Localization.GetTranslate("name_ru", lang).ToUpper()</label>
                                <textarea class="form-control" name="NameRu" rows="2" required></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">@Localization.GetTranslate("name_en", lang).ToUpper()</label>
                                <textarea class="form-control" name="NameEn" rows="2" required></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">@Localization.GetTranslate("max_ball", lang).ToUpper()</label>
                                <input type="number" min="0" class="form-control" name="MaxBall" required>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary ">@Localization.GetTranslate("save", lang).ToUpper()</button>
                    <button type="button" class="btn btn-secondary " onclick="window.location.href='/Admin/Indexes/'">@Localization.GetTranslate("back", lang).ToUpper()</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $.getJSON("/GetApi/GetIndexes/99", function (result) {
        var $dropdown = $("#Indexes");
        $dropdown.append($("<option />").val(null).text("@Html.Raw(Localization.GetTranslate("select...", lang).ToUpper())"));
        $dropdown.append($("<option />").val(0).text("@Html.Raw(Localization.GetTranslate("no_upper_index", lang).ToUpper())"));
        $.each(result, function () {
            $dropdown.append($("<option />").val(this.id).text(this.shortName));
        });
    });
</script>