@model Department
@{
    ViewData["Title"] = "EditDepartment";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">VILOYAT O'ZGARTIRISH</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">NOMI (O'ZBEKCHA LOTIN)</label>
                                <input type="text" class="form-control" name="NameUz" value="@Model.NameUz" required>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">NOMI (O'ZBEKCHA KIRIL)</label>
                                <input type="text" class="form-control" name="NameUzk" value="@Model.NameUzk" required>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">NOMI (RUSCHA)</label>
                                <input type="text" class="form-control" name="NameRu" value="@Model.NameRu" required>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">NOMI (INGLIZCHA)</label>
                                <input type="text" class="form-control" name="NameEn" value="@Model.NameEn" required>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" class="form-control" name="ParentId" value="@Model.ParentId">
                    <input type="hidden" class="form-control" name="Type" value="@Model.Type">
                    <button type="submit" class="btn btn-info pull-right">Saqlash</button>
                    <button type="button" class="btn btn-dark pull-right" onclick="window.location.href='/Admin/Regions/'">Ortga</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
