@model Menu 
@{
    ViewData["Title"] = "EditMenu";
    Layout = "~/Views/Shared/_LayoutAdminNew.cshtml";
    string lang = Context.Request.Cookies["lang"];
}

<div class="row mb-5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">MENYU O'ZGARTIRISH</h4>
            </div>
            <div class="card-body">
                <form method="post">

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">MENYU NOMI (O'ZBEKCHA LOTIN)</label>
                                <input type="text" class="form-control" name="menu_name_uz" value="@Model.menu_name_uz" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">MENYU NOMI (O'ZBEKCHA KIRIL)</label>
                                <input type="text" class="form-control" name="menu_name_uzk" value="@Model.menu_name_uzk" required>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">MENYU NOMI (RUSCHA)</label>
                                <input type="text" class="form-control" name="menu_name_ru" value="@Model.menu_name_ru" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">MENYU NOMI (INGLIZ)</label>
                                <input type="text" class="form-control" name="menu_name_en" value="@Model.menu_name_en" required>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="id" value="@Model.id" />

                    <button type="submit" class="btn btn-primary ">Saqlash</button>
                    <button type="button" class="btn btn-secondary " onclick="window.location.href='/Admin/Menu/'">Ortga</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>

