@model IEnumerable<ModernSchool.Models.Index>
@{
    ViewData["Title"] = "Indexes";
    Layout = "~/Views/Shared/_LayoutAdminNew.cshtml";
    string lang = Context.Request.Cookies["lang"];
    int i = 1;
}

<div class="row">
    @*<div class="col-md-10">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Admin/Indexes/">Sohalar</a></li>
                <li class="breadcrumb-item active" aria-current="page">xxx</li>
            </ol>
        </nav>
    </div>*@
    @*<div class="col-md-2">*@
        <div class="col-12 mb-2">
            <input type="button" class="btn btn-primary" value="@Localization.GetTranslate("add",lang)"  onclick="window.location.href='/Admin/CreateIndex'" />
        </div>
    @*</div>*@
</div>

<div class="row">
    
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">@Localization.GetTranslate("indexes", lang).ToUpper()</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" id="myTable">
                        <thead class="text-primary">
                            <tr>
                                <th width="3%">
                                    #
                                </th>
                                <th width="9%">
                                    @Localization.GetTranslate("upper_index", lang).ToUpper()
                                </th>
                                <th width="10%">
                                    @Localization.GetTranslate("short_name", lang).ToUpper()
                                </th>
                                <th width="25%">
                                    @Localization.GetTranslate("full_name", lang).ToUpper()
                                </th>
                                <th width="9%">
                                    @Localization.GetTranslate("max_ball", lang).ToUpper()
                                </th>
                                <th width="6%">
                                    @Localization.GetTranslate("level", lang).ToUpper()
                                </th>
                                <th width="5%"></th>
                                <th width="5%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @i
                                    </td>
                                    <td>
                                        @item.Parent?.ShortName
                                    </td>
                                    <td>
                                        @item.ShortName
                                    </td>
                                    <td>
                                        @item.NameUz
                                    </td>
                                    <td>
                                        @item.MaxBall
                                    </td>
                                    <td>
                                        @item.Level
                                    </td>
                                    <td style="text-align:right">
                                        @*<button type="button" class="btn btn-primary" onclick="window.location.href = '/Admin/Indexes/@item.Id'" data-toggle="tooltip" data-placement="bottom" title="Batafsil">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </button>*@
                                        <button type="button" class="btn btn-warning" onclick="window.location.href = '/Admin/EditIndex/@item.Id'" data-toggle="tooltip" data-placement="bottom" title="O'zgartirish">
                                            <i class="fa fa-edit" aria-hidden="true"></i>
                                        </button>
                                        </td>
                                        <td>
                                        <button class="btn btn-danger open-exampleModal" value="@item.Id" onclick="deleteIndex(@item.Id)" data-toggle="modal" data-target="#exampleModal">
                                            <i class="fa fa-trash" aria-hidden="true" data-placement="bottom" title="O'chirish" data-toggle="tooltip" ></i>
                                        </button>
                                    </td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#myTable').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'excel',
            {
                extend: 'pdfHtml5',
                orientation: 'landscape',
                pageSize: 'LEGAL',
            },
            'print'
        ],
        pageLength: 10,
    });

    function deleteIndex(id) {
        $('#indexID').val(id);
        $('#exampleModal').appendTo('body');
    }
</script>

<form method="post" action="/Admin/DeleteIndex/">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@Localization.GetTranslate("delete", lang).ToUpper()</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>@Localization.GetTranslate("delete_warning_text", lang).ToUpper()</p>
                    <input type="hidden" id="indexID" name="id" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">@Localization.GetTranslate("back", lang).ToUpper()</button>
                    <button type="submit" class="btn btn-danger">@Localization.GetTranslate("delete", lang).ToUpper()</button>
                </div>
            </div>
        </div>
    </div>
</form>

