@model IEnumerable<School>
@{
    ViewData["Title"] = "Schools";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int i = 1;
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">MAKTABLAR</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" id="myTable">
                        <thead class="text-primary">
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    Hudud
                                </th>
                                <th>
                                    Tuman
                                </th>
                                <th>
                                    Nomi
                                </th>
                                <th>
                                    Direktor
                                </th>
                                <th>
                                    Telefon
                                </th>
                                <th>
                                    Ball
                                </th>
                                <th>
                                    Holati
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @i
                                    </td>
                                    <td>
                                        @item.Region?.name_uz
                                    </td>
                                    <td>
                                        @item.District?.name_uz
                                    </td>
                                    <td>
                                        @item.NameUz
                                    </td>
                                    <td>
                                        @item.Director
                                    </td>
                                    <td>
                                        @item.Phone
                                    </td>
                                    <td>
                                        @item.ball
                                    </td>
                                    <td>Sertifikatlanmagan</td>
                                    <td style="text-align:right">
                                        <button type="button" class="btn btn-info" onclick="window.location.href = '/Admin/SchoolProfile/@item.Id'" data-toggle="tooltip" data-placement="bottom" title="Batafsil">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#myTable').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'excel',
            {
                extend: 'pdfHtml5',
                orientation: 'landscape',
                pageSize: 'LEGAL',
            },
            'print'
        ],
        pageLength: 10,
    });

</script>

