@model IList<RatedViewModel>
@{
    ViewData["Title"] = "Schools";
    Layout = "~/Views/Shared/_LayoutAdminNew.cshtml";
    string lang = Context.Request.Cookies["lang"];
    int i = 1;

    int page = 1;

    try
    {
        page = ViewBag.CurrentPage;
    }
    catch { }

    var pageLinksCount = 20;
    var diff = page - pageLinksCount / 2;
    var startPage = 1 + diff;
    var endPage = pageLinksCount + diff;

    if (startPage < 1)
    {
        endPage = Math.Min(ViewBag.PageCount, pageLinksCount);
        startPage = 1;
    }

    if (endPage > ViewBag.PageCount)
    {
        startPage = Math.Max(1, ViewBag.PageCount - pageLinksCount + 1);
        endPage = ViewBag.PageCount;
    }
}

<form>
    <div class="card card-body mb-4">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>@Localization.GetTranslate("region", lang)</label>
                    <select class="custom-select" name="RegionId" id="Regions">
                        <option selected value="0">@Localization.GetTranslate("select...", lang)</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>@Localization.GetTranslate("district", lang)</label>
                    <select class="custom-select" name="DistrictId" id="Districts">
                        <option selected value="0">@Localization.GetTranslate("select...", lang)</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>&ensp;</label>
                    <button class="btn btn-primary form-control" type="submit">
                        <span class="btn-icon-wrapper pr-2 opacity-9">
                            <i class="fa fa-search fa-w-20"></i>
                        </span>
                        @Localization.GetTranslate("search", lang)
                    </button>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>&ensp;</label>
                    <button class="btn btn-primary form-control" type="button" onclick="window.location.href='/Admin/Solve'">
                        @Localization.GetTranslate("xisoblash (Maktab)", lang)
                    </button>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>&ensp;</label>
                    <button class="btn btn-primary form-control" type="button" onclick="window.location.href='/Admin/Solve2'">
                        
                        @Localization.GetTranslate("xisoblash (Tekshiruvchi)", lang)
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row mb-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">MAKTABLAR</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="myTable">
                        <thead class="text-primary">
                            <tr>
                                <th style="text-align:center">
                                    #
                                </th>
                                <th style="text-align:center">
                                    Hudud
                                </th>
                                <th style="text-align:center">
                                    Tuman
                                </th>
                                <th style="text-align:center">
                                    Nomi
                                </th>
                                <th style="text-align:center" colspan="2">
                                    I
                                </th>
                                <th style="text-align:center" colspan="2">
                                    II
                                </th>
                                <th style="text-align:center" colspan="2">
                                    III
                                </th>
                                <th style="text-align:center" colspan="2">
                                    IV
                                </th>
                                <th style="text-align:center">
                                    Maktab Ball
                                </th>
                                <th style="text-align:center">
                                    Inspektor Ball
                                </th>
                                <th style="text-align:center">
                                    Baholangan sanasi
                                </th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr style="text-align:center">
                                <td>
                                    @item.PageNumber
                                </td>
                                <td>
                                    @item.RegionName
                                </td>
                                <td>
                                    @item.DistrictName
                                </td>
                                <td onclick="window.location.href='/Admin/DetailsByIndex/?school_id=@item.Id'" style="cursor:pointer">
                                    @item.NameUz
                                </td>
                                <td class="@(item.ball1School == null ? "" : item.ball1School < 120 ? "bg-danger" : item.ball1School < 180 ? "bg-warning" : item.ball1School < 240 ? "bg-success" : "bg-primary")">
                                    @item.ball1School
                                </td>
                                <td class="text-white @(item.ball1Inspektor == null ? "" : item.ball1Inspektor < 120 ? "bg-danger" : item.ball1Inspektor < 180 ? "bg-warning" : item.ball1Inspektor < 240 ? "bg-success" : "bg-primary")">
                                    @item.ball1Inspektor
                                </td>
                                <td class="@(item.ball2School == null ? "" : item.ball2School < 80 ? "bg-danger" : item.ball2School < 120 ? "bg-warning" : item.ball2School < 160 ? "bg-success" : "bg-primary")">
                                    @item.ball2School
                                </td>
                                <td class="text-white @(item.ball2Inspektor == null ? "" : item.ball2Inspektor < 80 ? "bg-danger" : item.ball2Inspektor < 120 ? "bg-warning" : item.ball2Inspektor < 160 ? "bg-success" : "bg-primary")">
                                    @item.ball2Inspektor
                                </td>
                                <td class="@(item.ball3School == null ? "" : item.ball3School < 80 ? "bg-danger" : item.ball3School < 120 ? "bg-warning" : item.ball3School < 160 ? "bg-success" : "bg-primary")">
                                    @item.ball3School
                                </td>
                                <td class="text-white @(item.ball3Inspektor == null ? "" : item.ball3Inspektor < 80 ? "bg-danger" : item.ball3Inspektor < 120 ? "bg-warning" : item.ball3Inspektor < 160 ? "bg-success" : "bg-primary")">
                                    @item.ball3Inspektor
                                </td>
                                <td class="@(item.ball4School == null ? "" : item.ball4School < 120 ? "bg-danger" : item.ball4School < 180 ? "bg-warning" : item.ball4School < 240 ? "bg-success" : "bg-primary")">
                                    @item.ball4School
                                </td>
                                <td class="text-white @(item.ball4Inspektor == null ? "" : item.ball4Inspektor < 120 ? "bg-danger" : item.ball4Inspektor < 180 ? "bg-warning" : item.ball4Inspektor < 240 ? "bg-success" : "bg-primary")">
                                    @item.ball4Inspektor
                                </td>
                                <td class="@(item.ballSchool == null ? "" : (item.ball1School < 120 || item.ballSchool < 400) ? "bg-danger" : item.ballSchool < 600 ? "bg-warning" : item.ballSchool < 800 ? "bg-success" : "bg-primary")">
                                    @item.ballSchool
                                </td>
                                <td class="text-white @(item.ballInspektor == null ? "" : (item.ball1Inspektor < 120 || item.ballInspektor < 400) ? "bg-danger" : item.ballInspektor < 600 ? "bg-warning" : item.ballInspektor < 800 ? "bg-success" : "bg-primary")">
                                    @item.ballInspektor
                                </td>
                                <td>@item.UpdateDate.ToString("dd.MM.yyyy | hh:mm")</td>
                                <td style="text-align:right">
                                    <button type="button" class="btn btn-info" onclick="window.location.href = '/Admin/CheckIndexes/@item.Id'" data-toggle="tooltip" data-placement="bottom" title="Batafsil">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </td>
                                <td style="text-align:right">
                                    <button type="button" class="btn btn-light" onclick="window.location.href = '/Admin/SchoolIndexBallsToExcel/@item.Id'" data-toggle="tooltip" data-placement="bottom" title="Excelga yuklash">
                                        <i class="fa fa-file-excel" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<ul class="pagination">
    <li class="paginate_button previous">
        <a href="/Admin/RatedSchools/?page=1&RegionId=@ViewBag.RegionId&DistrictId=@ViewBag.DistrictId">&laquo;</a>
    </li>

    @for (int j = startPage; j <= endPage; j++)
    {
        <li class="paginate_button @(j == ViewBag.CurrentPage ? "active" : null) ">
            <a href="/Admin/RatedSchools/?page=@j&RegionId=@ViewBag.RegionId&DistrictId=@ViewBag.DistrictId">@j</a>
        </li>
    }
    <li class="paginate_button next)">
        <a href="/Admin/RatedSchools/?page=@ViewBag.PageCount&RegionId=@ViewBag.RegionId&DistrictId=@ViewBag.DistrictId">&raquo;</a>
    </li>
</ul>
<script>
   

    $.getJSON("/GetApi/GetRegions/", function (result) {
        var $dropdown = $("#Regions");
        $.each(result, function () {
            if (this.id == @ViewBag.RegionId) {
                $dropdown.append($("<option selected />").val(this.id).text(this.name_uz));
            }
            else {
                $dropdown.append($("<option />").val(this.id).text(this.name_uz));
            }
        });
    });

    if (@ViewBag.RegionId > 0) {
        $.getJSON("/GetApi/GetDistricts/" + @ViewBag.RegionId, function (result) {
            var $dropdown = $("#Districts");
            $.each(result, function () {
                if (this.id == @ViewBag.DistrictId) {
                    $dropdown.append($("<option selected />").val(this.id).text(this.name_uz));
                }
                else {
                    $dropdown.append($("<option />").val(this.id).text(this.name_uz));
                }
            });
        });
    }

    $("#Regions").change(function () {
        var region = this.value;
        $('#Districts').empty();
        $.getJSON("/GetApi/GetDistricts/" + region, function (result) {
            var $dropdown = $("#Districts");
            $dropdown.append($("<option />").val(null).text("Tanlang..."));
            $.each(result, function () {
                if (this.id == @ViewBag.DistrictId) {
                    $dropdown.append($("<option selected />").val(this.id).text(this.name_uz));
                }
                else {
                    $dropdown.append($("<option />").val(this.id).text(this.name_uz));
                }
            });
        });
    });

</script>

