@model IEnumerable<School>
@{
    ViewData["Title"] = "Schools";
    Layout = "~/Views/Shared/_LayoutAdminNew.cshtml";
    string lang = Context.Request.Cookies["lang"];
    int i = 1;
}

<div class="row mb-5">
    <div class="col-12 mb-2">
        <input type="button" class="btn btn-primary" value="@Localization.GetTranslate("add",lang).ToUpper()"  onclick="window.location.href='/Admin/CreateSchool'" />
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">@Localization.GetTranslate("schools", lang).ToUpper()</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" id="myTable">
                        <thead class="text-primary">
                            <tr>
                                <th width="5%">
                                    #
                                </th>
                                <th width="15%">
                                    @Localization.GetTranslate("region", lang).ToUpper()
                                </th>
                                <th width="15%">
                                    @Localization.GetTranslate("district", lang).ToUpper()
                                </th>
                                <th width="20%">
                                    @Localization.GetTranslate("name", lang).ToUpper()
                                </th>
                                <th width="15%">
                                    @Localization.GetTranslate("director", lang).ToUpper()
                                </th>
                                <th width="15%">
                                    @Localization.GetTranslate("phone_number", lang).ToUpper()
                                </th>
                                <th></th>
                                <th></th>
                            </tr>    
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @i
                                    </td>
                                    <td>
                                        @item.Region?.name_uz
                                    </td>
                                    <td>
                                        @item.District?.name_uz
                                    </td>
                                    <td>
                                        @item.NameUz
                                    </td>
                                    <td>
                                        @item.Director
                                    </td>
                                    <td>
                                        @item.Phone
                                    </td>
                                    <td style="text-align:right">
                                        <button type="button" class="btn btn-warning" onclick="window.location.href = '/Admin/EditSchool/@item.Id'" data-toggle="tooltip" data-placement="bottom" title="EDIT">
                                            <i class="fa fa-edit" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger open-exampleModal" value="@item.Id" onclick="deleteSchool(@item.Id)" data-target="#exampleModal" data-toggle="modal" data-placement="bottom" >
                                            <i class="fa fa-trash" data-toggle="tooltip" data-placement="bottom" title="DELETE" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#myTable').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'excel',
            {
                extend: 'pdfHtml5',
                orientation: 'landscape',
                pageSize: 'LEGAL',
            },
            'print'
        ],
        pageLength: 10,
    });

    function deleteSchool(id) {
        $('#schoolID').val(id);
        //$('#exampleModal').modal('show');
        $('#exampleModal').appendTo("body");
    }
</script>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form method="post" action="/Admin/DeleteSchool/">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">@Localization.GetTranslate("delete", lang).ToUpper()</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>@Localization.GetTranslate("delete_warning_text", lang).ToUpper()</p>
                        <input type="hidden" id="schoolID" name="id" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">@Localization.GetTranslate("back", lang).ToUpper()</button>
                        <button type="submit" class="btn btn-danger">@Localization.GetTranslate("delete", lang).ToUpper()</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
