@model IEnumerable<School>
@{
    ViewData["Title"] = "Schools";
    Layout = "~/Views/Shared/_LayoutAdminNew.cshtml";
    string lang = Context.Request.Cookies["lang"];
    int i = 1;
}

<div class="row">
    <div class="col-12 text-right">
        <input type="button" class="btn btn-primary" value="qo'shish"  onclick="window.location.href='/Admin/CreateSchool'" />
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">MAKTABLAR</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" id="myTable">
                        <thead class="text-primary">
                            <tr>
                                <th width="5%">
                                    #
                                </th>
                                <th width="15%">
                                    Hudud
                                </th>
                                <th width="15%">
                                    Tuman
                                </th>
                                <th width="20%">
                                    Nomi
                                </th>
                                <th width="15%">
                                    Direktor
                                </th>
                                <th width="15%">
                                    Telefon
                                </th>
                                <th>
                                </th>
                            </tr>    
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @i
                                    </td>
                                    <td>
                                        @item.Region?.name_uz
                                    </td>
                                    <td>
                                        @item.District?.name_uz
                                    </td>
                                    <td>
                                        @item.NameUz
                                    </td>
                                    <td>
                                        @item.Director
                                    </td>
                                    <td>
                                        @item.Phone
                                    </td>
                                    <td style="text-align:right">
                                        <button type="button" class="btn btn-warning" onclick="window.location.href = '/Admin/EditSchool/@item.Id'" data-toggle="tooltip" data-placement="bottom" title="O'zgartirish">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-danger open-exampleModal" value="@item.Id" onclick="deleteSchool(@item.Id)" data-toggle="tooltip" data-placement="bottom" title="O'chirish">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#myTable').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'excel',
            {
                extend: 'pdfHtml5',
                orientation: 'landscape',
                pageSize: 'LEGAL',
            },
            'print'
        ],
        pageLength: 10,
    });

    function deleteSchool(id) {
        $('#schoolID').val(id);
        $('#exampleModal').modal('show');
    }
</script>

<form method="post" action="/Admin/DeleteSchool/">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">MAKTAB O'CHIRISH</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>O'chirilgan ma'lumotlar qayta tiklanmaydi</p>
                    <input type="hidden" id="schoolID" name="id" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">ORTGA</button>
                    <button type="submit" class="btn btn-danger">O'CHIRISH</button>
                </div>
            </div>
        </div>
    </div>
</form>