@model List<UserViewModel>
@{
    ViewData["Title"] = "Schools";
    Layout = "~/Views/Shared/_LayoutAdminNew.cshtml";
    string lang = Context.Request.Cookies["lang"];
    int i = 1;

    int page = 1;

    try
    {
        page = ViewBag.CurrentPage;
    }
    catch { }

    var pageLinksCount = 20;
    var diff = page - pageLinksCount / 2;
    var startPage = 1 + diff;
    var endPage = pageLinksCount + diff;

    if (startPage < 1)
    {
        endPage = Math.Min(ViewBag.PageCount, pageLinksCount);
        startPage = 1;
    }

    if (endPage > ViewBag.PageCount)
    {
        startPage = Math.Max(1, ViewBag.PageCount - pageLinksCount + 1);
        endPage = ViewBag.PageCount;
    }
}

<div class="row">
    <div class="col-12 mb-2">
        <input type="button" class="btn btn-primary" value="@Localization.GetTranslate("add", lang).ToUpper()" onclick="window.location.href='/Admin/CreateUser'" />
    </div>
</div>

<form>
    <div class="card card-body mb-4">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label>@Localization.GetTranslate("region", lang)</label>
                    <select class="custom-select" name="RegionId" id="Regions">
                        <option selected value="0">@Localization.GetTranslate("select...", lang)</option>
                    </select>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label>@Localization.GetTranslate("district", lang)</label>
                    <select class="custom-select" name="DistrictId" id="Districts">
                        <option selected value="0">@Localization.GetTranslate("select...", lang)</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>&ensp;</label>
                    <button class="btn btn-primary form-control" type="submit">
                        <span class="btn-icon-wrapper pr-2 opacity-9">
                            <i class="fa fa-search fa-w-20"></i>
                        </span>
                        @Localization.GetTranslate("search", lang)
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row mb-2">
    
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">@Localization.GetTranslate("users", lang).ToUpper()</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" id="myTable">
                        <thead class="text-primary">
                            <tr>
                                <th width="5%">
                                    #
                                </th>
                                <th width="15%">
                                    @Localization.GetTranslate("fish", lang).ToUpper()
                                </th>
                                <th width="10%">
                                    @Localization.GetTranslate("role", lang).ToUpper()
                                </th>
                                <th width="10%">
                                    @Localization.GetTranslate("login", lang).ToUpper()
                                </th>
                                <th width="15%">
                                    @Localization.GetTranslate("structure", lang).ToUpper()
                                </th>
                                <th width="10%">
                                    @Localization.GetTranslate("phone_number", lang).ToUpper()
                                </th>
                                <th width="5%"></th>
                                <th width="5%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @i
                                    </td>
                                    <td>
                                        @item.FullName
                                    </td>
                                    <td>
                                        @item.RoleName
                                    </td>
                                    <td>
                                        @item.Login
                                    </td>
                                    @if (item.RoleId == 5)
                                    {
                                        <td>
                                            @item.RegionName <br /> @item.DistrictName <br /> @item.SchoolName
                                        </td>
                                    }
                                    else if (item.RoleId == 4)
                                    {
                                        <td>
                                            @item.RegionName <br /> @item.DistrictName
                                        </td>
                                    }
                                    else if (item.RoleId == 3)
                                    {
                                        <td>
                                            @item.RegionName
                                        </td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    <td>
                                        @item.Phone
                                    </td>
                                    <td style="text-align:right">
                                        <button type="button" class="btn btn-warning" onclick="window.location.href = '/Admin/EditUser/@item.Id'" data-toggle="tooltip" data-placement="bottom" title="O'zgartirish">
                                            <i class="fa fa-edit" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger open-exampleModal" value="@item.Id" onclick="deleteUser(@item.Id)" data-toggle="modal" data-target="#exampleModal">
                                            <i class="fa fa-trash" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="O'chirish"></i>
                                        </button>
                                    </td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ul class="pagination">
    <li class="paginate_button previous">
        <a href="/Admin/Users/?page=1&RegionId=@ViewBag.RegionId&DistrictId=@ViewBag.DistrictId">&laquo;</a>
    </li>

    @for (int j = startPage; j <= endPage; j++)
    {
        <li class="paginate_button @(j == ViewBag.CurrentPage ? "active" : null) ">
            <a href="/Admin/Users/?page=@j&RegionId=@ViewBag.RegionId&DistrictId=@ViewBag.DistrictId">@j</a>
        </li>
    }
    <li class="paginate_button next)">
        <a href="/Admin/Users/?page=@ViewBag.PageCount&RegionId=@ViewBag.RegionId&DistrictId=@ViewBag.DistrictId">&raquo;</a>
    </li>
</ul>
<script>
    $('#myTable').DataTable({
        dom: 'ltpr',
        "paging": false,
    });

    $.getJSON("/GetApi/GetRegions/", function (result) {
        var $dropdown = $("#Regions");
        $.each(result, function () {
            if (this.id == @ViewBag.RegionId) {
                $dropdown.append($("<option selected />").val(this.id).text(this.name_uz));
            }
            else {
                $dropdown.append($("<option />").val(this.id).text(this.name_uz));
            }
        });
    });

    if (@ViewBag.RegionId > 0) {
        $.getJSON("/GetApi/GetDistricts/" + @ViewBag.RegionId, function (result) {
            var $dropdown = $("#Districts");
            $.each(result, function () {
                if (this.id == @ViewBag.DistrictId) {
                    $dropdown.append($("<option selected />").val(this.id).text(this.name_uz));
                }
                else {
                    $dropdown.append($("<option />").val(this.id).text(this.name_uz));
                }
            });
        });
    }

    $("#Regions").change(function () {
        var region = this.value;
        $('#Districts').empty();
        $.getJSON("/GetApi/GetDistricts/" + region, function (result) {
            var $dropdown = $("#Districts");
            $dropdown.append($("<option />").val(null).text("Tanlang..."));
            $.each(result, function () {
                if (this.id == @ViewBag.DistrictId) {
                    $dropdown.append($("<option selected />").val(this.id).text(this.name_uz));
                }
                else {
                    $dropdown.append($("<option />").val(this.id).text(this.name_uz));
                }
            });
        });
    });

</script>


<script>
    function deleteUser(id) {
        $('#userID').val(id);
        $('#exampleModal').appendTo('body');
    }
</script>

<form method="post" action="/Admin/DeleteUser/">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@Localization.GetTranslate("delete", lang).ToUpper()</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>@Localization.GetTranslate("delete_warning_text", lang).ToUpper()</p>
                    <input type="hidden" id="userID" name="id" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">@Localization.GetTranslate("back", lang).ToUpper()</button>
                    <button type="submit" class="btn btn-danger">@Localization.GetTranslate("delete", lang).ToUpper()</button>
                </div>
            </div>
        </div>
    </div>
</form>